<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dorrny.board.mapper.BoardMapper"> <!-- ✅ namespace 수정 -->
	<select id="list" resultType="com.dorrny.board.vo.BoardVO">
		select id, title, writer, writeDate, hit from board
	</select>
	
	<select id="view" resultType="com.dorrny.board.vo.BoardVO">
		select id, title, content, writer, writeDate, hit from board where id = #{id}
	</select>
	
	<update id="updateHit" parameterType="int">
		update board set hit = hit + 1 where id = #{id}
	</update>
	
	<insert id="write" parameterType="com.dorrny.board.vo.BoardVO">
		insert into board (title, content, writer, hit)
		values(#{title, jdbcType=VARCHAR}, #{content, jdbcType=VARCHAR}, #{writer, jdbcType=VARCHAR}, #{hit})
	</insert>
	
	<update id="update" parameterType="com.dorrny.board.vo.BoardVO">
		update board set title = #{title, jdbcType=VARCHAR}, content = #{content, jdbcType=VARCHAR},
		writer = #{writer, jdbcType=VARCHAR} where id = #{id}
	</update>
	<delete id="delete" parameterType="com.dorrny.board.vo.BoardVO">
		delete from board where id = #{id}
	</delete>
</mapper>